body{
    font-family: monospace;
    margin: 40px;
    background-color: #d5d5fc;
    color: #333;
}

h1{
    color: #233a52;
    border-bottom: 2px solid #233a52;
    text-align: center;
    padding-bottom: 10px;
}

P{
    font-size: 1.1em;
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow:0 2px 4px #333;
    text-align: center;
}